name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main
      - dev-*

jobs:
  ci:
    strategy:
      matrix:
        go-version: [1.16.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build
        run: go build -v ./

      - name: Run unit tests
        run: go test -v ./...
  coverage:
    strategy:
      matrix:
        go-version: [1.16.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Coverage
        run: go test ./... -race -coverprofile=coverage.txt -covermode=atomic
      - name: Upload Coverage
        run: bash <(curl -s https://codecov.io/bash)
